<nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
  <div class="container-fluid">
   <ul class="navbar-nav">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bars"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Account Settings</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Merchant Finder</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Claim promo</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="navbar-brand mx-auto">
      <h2>BudgetBee</h2>
    </div>
    <div class="navbar-form navbar-right">
      <%= button_to "Sign out", destroy_user_session_path, class: 'btn btn-primary btn-outline-light', method: :delete %>
    </div>
  </div>
</nav>