<div class="container squeeze">
    <div class="row justify-content-center align-items-center text-center">
        <h1 class='col-12'>BudgetBee</h1>
        <div class="button-container">
        <%= button_to "Log In", new_user_session_path, class: "col-12 btn btn btn-primary btn-outline-light", method: :get%>

        <%= button_to "Sign Up", new_user_registration_path, class: "col-12 btn btn-default", method: :get%>
        </div>
    </div>
</div>
