<h1 class="text-center category-h1">New payment</h1>

<%= render "form", payment: @payment %>

<br>

<div class=" btn btn-primary w-100 text-center">
  <%= button_to "Back to payments", category_path(@category), class: "btn btn-primary btn-outline-light", method: :get %>
</div>
