/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* * {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
} */

.squeeze {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    position: absolute;
    bottom: 20px;
}

.container-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container-style {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
}

.image{
  height: 100px;
  padding: 10px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first p{
  margin: 0;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
}

.column-2 {
  padding: 10px;
  display: flex;
  width: 75%;
}

.end-tag {
  display: flex;
  justify-content: flex-end;
}