<div id="<%= dom_id category %>">
  <div class="card mb-3 mx-auto" style="max-width: 700px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="<%= category.icon %>"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Category: <%= link_to category.name, category_payments_path(category.id) %></h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
        <% date = DateTime.parse(category.created_at.to_s) %>
        <% formatted_date = date.strftime('%d %B %Y') %>
          <small class="text-muted"><%= formatted_date %></small>
        </p>
      </div>
    </div>
  </div>
</div>

</div>
